
.card-container{
    background:#fdfdfd;
    cursor: pointer;
    position: relative;
    margin: 8px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-height: 300px;
    min-height: 300px;
    padding: 8px;
    border-bottom: 5px solid  #a256d8;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
        transition:  transform .5s;
        transform: translateY(-5px);
    }
    .description{
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        max-height: 40px;
        word-wrap: break-word;
        white-space: pre-wrap;
     
    }
    header{
        position: absolute;
        top:0;
        background: #a256d8;
        width: 100%;
        color:#fdfdfd;
        padding: 8px;
        max-height: 34px;
        font-weight: bold;
    }
    section{
       margin-top: 16px;
       color: #301b3f;
       p +div {
           margin-top: 10px;
       }
       a{
        text-decoration: none;
        background: #a256d8;
        color:#fdfdfd;
        font-weight: bold;
        padding: 8px;
        border-radius: 16px;
        &:hover{
            background: #8f4ac0;
        }
       }

       img{
           max-width: 130px;
           margin-top: 16px;
           border-radius: 5%;
       }

    }
}
